Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
gunicorn==23.0.0
opentelemetry-distro==0.62b1
opentelemetry-exporter-otlp==1.41.1
opentelemetry-instrumentation-django==0.62b1
opentelemetry-instrumentation-psycopg2==0.62b1
opentelemetry-instrumentation-requests==0.62b1
opentelemetry-instrumentation-logging>=0.48b0
pillow==12.1.1
psycopg2-binary==2.9.11
python-json-logger==4.0.0
whitenoise==6.12.0
stripe==15.2.0

django-anymail[amazon-ses]==15.0
